.parent_cont {
    display: flex;
    justify-content: space-around;
    background-color: #e6f1e6;
    padding: 20px;
    border-radius: 10px;
  }
  
  .child_cont1,
  .child_cont2,
  .child_cont3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100px;
    background-color: #b3d9b3;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #888888;
  }
  
  .child1_content h3 {
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #005900;
  }
  
  .child1_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #005900;
  }
  
  .child_cont2,
  .child_cont3 {
    background-color: #8ec98e;
  }
  
  .child2_content,
  .child3_content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
  }
.table-container {
    overflow-x: auto;
}

   
